<%- include('../partials/globals/top.ejs') -%>
<%- include('../partials/globals/header.ejs') -%>
<div class="container">
  <div class="row">
    <div class="left_col col-md-8 col-xs-12">
      <section class="home_articles">
        <article>
          <h2 class="eyebrow">August 1, 2016</h2>
          <h1>Article Title #1</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod voluptatibus maiores cupiditate tenetur explicabo. Vero est, dignissimos laboriosam quasi dolores harum optio incidunt iste consequatur quidem inventore molestias, provident omnis.</p>
          <img src="img/image-wide.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur repellendus dolorum voluptatum beatae, accusamus dolore eius a amet rerum sint, vero in, modi minima magnam corrupti placeat quas? Blanditiis, excepturi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ad aperiam eos labore, voluptatum voluptates, impedit dolor laboriosam in hic quam accusamus ducimus velit sit. Suscipit saepe tempora ex incidunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum deleniti quisquam repudiandae fugiat? Quam tempore ab, quaerat illum a provident quos necessitatibus repellendus, fuga repellat optio ipsum labore dicta, in!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dolorum modi eum repudiandae nostrum doloremque vitae recusandae aspernatur corrupti. Eos cumque dignissimos dolorum laudantium quibusdam praesentium corporis quis impedit rerum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur repellendus dolorum voluptatum beatae, accusamus dolore eius a amet rerum sint, vero in, modi minima magnam corrupti placeat quas? Blanditiis, excepturi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ad aperiam eos labore, voluptatum voluptates, impedit dolor laboriosam in hic quam accusamus ducimus velit sit. Suscipit saepe tempora ex incidunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum deleniti quisquam repudiandae fugiat? Quam tempore ab, quaerat illum a provident quos necessitatibus repellendus, fuga repellat optio ipsum labore dicta, in!</p>
        </article>
      </section>
    </div>
    <div class="right_col col-md-4 col-xs-12">
      <%- include('../partials/new_releases.ejs') -%>
      <%- include('../partials/accordion.ejs') -%>
    </div>
  </div>
</div>
<%- include('../partials/globals/footer.ejs') -%>
<%- include('../partials/globals/bottom.ejs') -%>