<%- include('../partials/globals/top.ejs') -%>
<%- include('../partials/globals/header.ejs') -%>
<div class="container">
  <div class="row">
    <div class="left_col col-md-8 col-xs-12">
      <%- include('../partials/upcomming_shows_home.ejs') -%>
    </div>
    <div class="right_col col-md-4 col-xs-12">
      <%- include('../partials/new_releases.ejs') -%>
      <%- include('../partials/featured_artist.ejs') -%>
    </div>
  </div>
</div>
<%- include('../partials/globals/footer.ejs') -%>
<%- include('../partials/globals/bottom.ejs') -%>