<%- include('../partials/globals/top.ejs') -%>
<%- include('../partials/globals/header.ejs') -%>
<div class="container">
  <div class="row">
    <div class="single_col col-xs-12">
      <%- include('../partials/paginator.ejs') -%>
      <div class="row">
        <div class="col-md-4 col-xs-12"><%- include('../partials/card.ejs', {url: 'vinyl_individual.html', name: 'S/T', image: 'img/image.png', id: 'REV1', artist: 'Beyond'}) -%></div>
        <div class="col-md-4 col-xs-12"><%- include('../partials/card.ejs', {url: 'vinyl_individual.html', name: 'S/T', image: 'img/image.png', id: 'REV1', artist: 'Beyond'}) -%></div>
        <div class="col-md-4 col-xs-12"><%- include('../partials/card.ejs', {url: 'vinyl_individual.html', name: 'S/T', image: 'img/image.png', id: 'REV1', artist: 'Beyond'}) -%></div>
        <div class="col-md-4 col-xs-12"><%- include('../partials/card.ejs', {url: 'vinyl_individual.html', name: 'S/T', image: 'img/image.png', id: 'REV1', artist: 'Beyond'}) -%></div>
        <div class="col-md-4 col-xs-12"><%- include('../partials/card.ejs', {url: 'vinyl_individual.html', name: 'S/T', image: 'img/image.png', id: 'REV1', artist: 'Beyond'}) -%></div>
        <div class="col-md-4 col-xs-12"><%- include('../partials/card.ejs', {url: 'vinyl_individual.html', name: 'S/T', image: 'img/image.png', id: 'REV1', artist: 'Beyond'}) -%></div>
        <div class="col-md-4 col-xs-12"><%- include('../partials/card.ejs', {url: 'vinyl_individual.html', name: 'S/T', image: 'img/image.png', id: 'REV1', artist: 'Beyond'}) -%></div>
        <div class="col-md-4 col-xs-12"><%- include('../partials/card.ejs', {url: 'vinyl_individual.html', name: 'S/T', image: 'img/image.png', id: 'REV1', artist: 'Beyond'}) -%></div>
        <div class="col-md-4 col-xs-12"><%- include('../partials/card.ejs', {url: 'vinyl_individual.html', name: 'S/T', image: 'img/image.png', id: 'REV1', artist: 'Beyond'}) -%></div>
      </div>
      <%- include('../partials/paginator.ejs') -%>
    </div>
  </div>
</div>
<%- include('../partials/globals/footer.ejs') -%>
<%- include('../partials/globals/bottom.ejs') -%>